body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/birds-cold-conifer-917494.jpg") ;
    background-position: 100%
  }

  main {
    flex: 1 0 auto;
  }

div.nav-wrapper{
    
    text-decoration: #ffab40;
}
      
blockquote {
    border-left: 5px solid #ffab40;
}
